<a href="https://colab.research.google.com/github/Idowuilekura/hamoye_internship/blob/master/ilekura_idowu_hamoye.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
hamoye_dataset = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [3]:
hamoye_dataset.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

question one

In [4]:
A = [1,2,3,4,5,6]
B= [13,21,34]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

Question 2

In [5]:
# how to create identitiy matrix with numpy
numpy_identity_matrix=np.eye(3)
numpy_identity_matrix=np.identity(3)

Question 3

In [6]:
lowest_average_fuelcost_per_unit_burned= hamoye_dataset.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values()
lowest_average_fuelcost_per_unit_burned

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

Question 4

In [7]:
standard_devaiation_and_75th_percentile = hamoye_dataset['fuel_mmbtu_per_unit'].describe()
standard_devaiation_and_75th_percentile

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

question 5

In [8]:
skewness_fuel_quantity_burned = hamoye_dataset['fuel_qty_burned'].skew()
kurtosis_fuel_quantity_burned = hamoye_dataset['fuel_qty_burned'].kurtosis()
print(skewness_fuel_quantity_burned)
print(kurtosis_fuel_quantity_burned)

15.851495469109503
651.3694501337732

question 6

In [9]:
total_null_rows = hamoye_dataset.isnull().sum()
percentage_of_missing_rows=hamoye_dataset.isnull().sum()/len(hamoye_dataset) *100
percentage_of_missing_rows

record_id                       0.000000
utility_id_ferc1                0.000000
report_year                     0.000000
plant_name_ferc1                0.000000
fuel_type_code_pudl             0.000000
fuel_unit                       0.609694
fuel_qty_burned                 0.000000
fuel_mmbtu_per_unit             0.000000
fuel_cost_per_unit_burned       0.000000
fuel_cost_per_unit_delivered    0.000000
fuel_cost_per_mmbtu             0.000000
dtype: float64

question 7

In [10]:
hamoye_dataset['fuel_unit'].describe()
# the feature column is object and it can be computed with mode

count     29343
unique        9
top         mcf
freq      11354
Name: fuel_unit, dtype: object

question 8

In [11]:
abs(hamoye_dataset.corr()['fuel_cost_per_unit_burned']).sort_values()
#the feature that has the second and third correlation with fuel_cost_per_unit_burned is fuel_mmbtu_per_unit & fuel_cost_per_unit_delivered

fuel_cost_per_mmbtu             0.000437
fuel_mmbtu_per_unit             0.010034
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_qty_burned                 0.018535
utility_id_ferc1                0.037863
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

question 9

In [12]:
fuel_type_coal_1998 = hamoye_dataset[(hamoye_dataset['report_year']==1998)&(hamoye_dataset['fuel_type_code_pudl']=='coal')]

In [13]:
fuel_type_coal_1994 = hamoye_dataset[(hamoye_dataset['report_year']==1994)&(hamoye_dataset['fuel_type_code_pudl']=='coal')]

In [14]:
(fuel_type_coal_1998['fuel_cost_per_unit_burned'].sum() - fuel_type_coal_1994['fuel_cost_per_unit_burned'].sum())/fuel_type_coal_1994['fuel_cost_per_unit_burned'].sum() * 100
# the percentage change in the fuel_cost_per_unit_burned in 1998 compared to 1994 is -21.%

-20.56765451826053

question 10

In [15]:
hamoye_dataset.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)
# 1997 has the highest_average_fuel_cost_per_unit_delivered

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64